---
// Components
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
// styles
import "../styles/pages/_gallery.scss";

// assets
import glow from "../assets/glowing-eclipse.svg";
import photo1 from "../assets/photo1.png";
import photo2 from "../assets/photo2.png";
import photo3 from "../assets/photo3.png";
import photo4 from "../assets/photo4.png";
import liveStreaming from "../assets/live-streaming.png";
import stage from "../assets/stage.png";
import controlRoom from "../assets/control-room.png";
import workspace from "../assets/workspace.png";
import studio1 from "../assets/studio1-bento.png";
import studio2 from "../assets/studio2-bento.png";
import studio3 from "../assets/studio3-bento.png";
import studio4 from "../assets/studio4-bento.png";
---

<Layout
  title="Gallery - Ahadu Global Network"
  description="Explore our gallery"
>
  <Header />
  <main>
    <section class="gallery-hero-section">
      <div class="container wrapper">
        <img src={glow.src} alt="" class="glow" />
        <div class="gallery-content">
          <h1 class="font-header-1 no-scrub">
            Explore Our High-End Studio Gallery
          </h1>
        </div>
        <div class="gallery-grid">
          <div class="gallery-item">
            <img src={photo1.src} alt="" />
          </div>
          <div class="gallery-item">
            <img src={photo2.src} alt="" />
          </div>
          <div class="gallery-item">
            <img src={photo3.src} alt="" />
          </div>
          <div class="gallery-item">
            <img src={photo4.src} alt="" />
          </div>
          <div class="gallery-item">
            <img src={studio2.src} alt="" />
          </div>
          <div class="gallery-item">
            <img src={studio3.src} alt="" />
          </div>
          <div class="gallery-item">
            <img src={studio4.src} alt="" />
          </div>
          <div class="gallery-item">
            <img src={workspace.src} alt="" />
          </div>
          <div class="gallery-item">
            <img src={stage.src} alt="" />
          </div>
          <div class="gallery-item">
            <img src={controlRoom.src} alt="" />
          </div>
          <div class="gallery-item">
            <img src={liveStreaming.src} alt="" />
          </div>
          <div class="gallery-item">
            <img src={stage.src} alt="" />
          </div>
        </div>
      </div>
    </section>
  </main>

  <Footer />
</Layout>
