---
// Components
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import ResponsiveImg from "../components/ResponsiveImg.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
// styles
import "../styles/pages/_index.scss";

// assets
import glow from "../assets/glowing-eclipse.svg";
import photo1 from "../assets/photo1.png";
import photo2 from "../assets/photo2.png";
import photo3 from "../assets/photo3.png";
import photo4 from "../assets/photo4.png";
import cameraEquipment from "../assets/camera-equipment.png";
import heroBackground from "../assets/home-hero-bg.png";
import heroBackgroundMb from "../assets/home-hero-bg-mb.png";
import heroBackground2 from "../assets/home-hero-bg-2.png";
import heroBackground2Mb from "../assets/home-hero-bg-2-mb.png";
import heroBackground3 from "../assets/home-hero-bg-3.png";
import heroBackground3Mb from "../assets/home-hero-bg-3-mb.png";

// icons
import audioElement from "../icons/audio-element.svg";
import budgetIcon from "../icons/budget-icon.svg";
import locationIcon from "../icons/location-icon.svg";
import techIcon from "../icons/tech-icon.svg";
import reliabilityIcon from "../icons/reliability-icon.svg";
---

<Layout
  title="Home - Ahadu Global Network"
  description="A premier media production and studio rental company based in Washington D.C."
>
  <div class="loader">
    <div class="logo-animation">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="279"
        height="114"
        fill="none"
      >
        <path
          fill="#FF6700"
          d="M58.824 71.607c-4.224 0-7.668-3.444-7.668-7.68V56.26h7.668a7.675 7.675 0 0 1 0 15.347Zm-32.868-7.68c0 4.236-3.444 7.68-7.668 7.68a7.687 7.687 0 0 1-7.68-7.68c0-4.224 3.444-7.667 7.68-7.667h7.668v7.667Zm32.868-16.62h-7.668v-17.52a106.793 106.793 0 0 0-8.964-.66v18.18h-7.284V29.139c-2.992.086-5.978.298-8.952.636v17.533h-7.668c-9.168 0-16.632 7.45-16.632 16.619 0 9.168 7.464 16.632 16.632 16.632 9.168 0 16.62-7.464 16.62-16.632V56.26h7.284v7.667c0 9.168 7.464 16.632 16.632 16.632 9.168 0 16.632-7.464 16.632-16.632 0-9.168-7.464-16.62-16.632-16.62Zm18.18-26.688-2.76 8.508-.432-.132c-7.453-2.424-15.024-4.08-22.656-4.932a106.793 106.793 0 0 0-8.964-.66 98.287 98.287 0 0 0-7.284.013c-2.992.086-5.978.298-8.952.635-7.87.89-15.627 2.591-23.148 5.076L0 20.62c25.044-8.27 51.516-8.317 76.584-.145l.42.144ZM38.52 99.316c-12.808 0-25.616-2.03-38.075-6.093l-.426-.14 2.778-8.515.426.139c23.234 7.579 47.786 7.533 70.996-.133l2.81 8.504c-12.592 4.16-25.55 6.238-38.509 6.238ZM14.539 10.794l-1.704-8.107a124.372 124.372 0 0 1 49.177-.453l-1.556 8.136a116.088 116.088 0 0 0-45.917.424Zm24.028 102.904a124.783 124.783 0 0 1-23.467-2.235l1.556-8.136a116.082 116.082 0 0 0 45.917-.423l1.704 8.107a124.87 124.87 0 0 1-25.71 2.687Z"
        ></path>
        <path
          fill="#fff"
          d="M272.682 79.62v-5.714h.533l2.088 4.308h.163l2.072-4.308h.533v5.714h-.444v-5.166l.104.015-1.999 4.13h-.696l-2.013-4.13.074-.015v5.166h-.415Zm-3.079 0v-5.595h.444v5.595h-.444Zm-1.835-5.3v-.414h4.115v.415h-4.115ZM100.029 39.823l7.344-22.246h8.076l7.618 22.246h-5.181l-6.155-18.802 1.584.64h-3.931l1.646-.64-6.003 18.802h-4.998Zm5.577-5.516 1.523-4.144h8.716l1.554 4.144h-11.793ZM139.584 39.823V17.577h4.998v22.246h-4.998Zm-14.383 0V17.577h4.998v22.246h-4.998Zm4.114-8.99v-4.388h11.153v4.388h-11.153ZM146.715 39.823l7.344-22.246h8.075l7.618 22.246h-5.18l-6.156-18.802 1.585.64h-3.931l1.646-.64-6.004 18.802h-4.997Zm5.576-5.516 1.524-4.144h8.715l1.554 4.144h-11.793ZM176.275 39.94v-4.663h4.144c1.036 0 1.981-.152 2.804-.457a5.821 5.821 0 0 0 3.474-3.443c.312-.88.467-1.809.457-2.743a7.887 7.887 0 0 0-.457-2.773 5.543 5.543 0 0 0-3.474-3.352 8.11 8.11 0 0 0-2.804-.457h-4.144V17.39h3.87c2.011 0 3.779.304 5.272.883 1.523.61 2.742 1.402 3.778 2.408a9.623 9.623 0 0 1 2.255 3.504c.51 1.311.769 2.707.762 4.114v.67a11.027 11.027 0 0 1-3.017 7.527 11.365 11.365 0 0 1-3.778 2.499c-1.677.662-3.47.983-5.272.945h-3.87Zm-4.388 0V17.39h4.997v22.55h-4.997ZM204.251 40.396a11.275 11.275 0 0 1-5.333-1.158 7.921 7.921 0 0 1-3.291-3.352 10.937 10.937 0 0 1-1.127-5.12V17.572h4.997v13.377c0 .975.183 1.829.549 2.56a4.044 4.044 0 0 0 1.615 1.645 5.364 5.364 0 0 0 2.59.58c1.036 0 1.889-.184 2.59-.58.701-.396 1.249-.914 1.615-1.645a5.54 5.54 0 0 0 .549-2.56V17.571h4.997v13.195a10.937 10.937 0 0 1-1.127 5.12 7.927 7.927 0 0 1-3.291 3.352 11.185 11.185 0 0 1-5.333 1.158ZM112.677 68.34c-1.785.04-3.56-.292-5.21-.974a10.603 10.603 0 0 1-5.821-6.4 12.507 12.507 0 0 1-.701-4.083v-.67a12.403 12.403 0 0 1 2.804-7.771c.944-1.097 2.133-1.98 3.535-2.62 1.432-.64 3.047-.976 4.906-.976 1.84-.037 3.665.349 5.333 1.128a9.38 9.38 0 0 1 3.717 3.077 8.87 8.87 0 0 1 1.615 4.54h-4.997a4.113 4.113 0 0 0-.975-2.132 5.15 5.15 0 0 0-1.981-1.433 6.703 6.703 0 0 0-2.712-.518 5.73 5.73 0 0 0-5.79 4.236 9.572 9.572 0 0 0-.396 2.834c0 1.067.152 2.072.426 2.956.285.84.73 1.616 1.311 2.285a5.789 5.789 0 0 0 2.102 1.463 7.5 7.5 0 0 0 2.834.518c1.372 0 2.591-.304 3.596-.853a5.09 5.09 0 0 0 2.194-2.255l-.609 3.413v-5.302h4.601v4.754a9.505 9.505 0 0 1-3.961 3.565 13.106 13.106 0 0 1-5.821 1.219Zm-.64-8.562v-3.596h12.251v3.596h-12.251ZM126.756 67.766V45.52h4.997v22.245h-4.997Zm4.388 0v-4.388h9.325v4.388h-9.325ZM153.206 68.344a11.094 11.094 0 0 1-11.154-7.557 11.745 11.745 0 0 1-.7-3.87v-.67a11.882 11.882 0 0 1 2.986-7.77 10.784 10.784 0 0 1 3.718-2.621 12.4 12.4 0 0 1 5.15-1.006c1.95 0 3.656.335 5.149 1.005a10.782 10.782 0 0 1 5.973 6.308c.501 1.304.759 2.688.762 4.084v.67a12.345 12.345 0 0 1-2.925 7.618 11.031 11.031 0 0 1-3.718 2.773 12.31 12.31 0 0 1-5.241 1.036Zm0-4.662a7.015 7.015 0 0 0 2.834-.548 6.41 6.41 0 0 0 3.534-3.779 8.087 8.087 0 0 0 .457-2.743 7.916 7.916 0 0 0-.487-2.834 6.1 6.1 0 0 0-1.371-2.255 5.89 5.89 0 0 0-2.133-1.493 7.314 7.314 0 0 0-2.834-.518 7.31 7.31 0 0 0-2.834.518 6.154 6.154 0 0 0-3.505 3.748 8.388 8.388 0 0 0 0 5.577c.293.833.749 1.6 1.341 2.255a6.522 6.522 0 0 0 4.998 2.072ZM172.374 67.912v-3.9h5.211c.914 0 1.645-.244 2.102-.731.499-.571.751-1.316.701-2.073 0-.914-.244-1.584-.701-2.041-.457-.488-1.158-.732-2.102-.732h-5.211v-3.017h4.967a13.409 13.409 0 0 1 4.114.58 5.764 5.764 0 0 1 2.834 1.797 5.154 5.154 0 0 1 1.036 3.383v.427c0 1.31-.305 2.437-.915 3.413a5.846 5.846 0 0 1-2.681 2.163 11.518 11.518 0 0 1-4.388.731h-4.967Zm-4.267 0v-22.58h4.876v22.58h-4.876Zm4.267-10.269v-2.986h4.388c.944 0 1.645-.244 2.072-.732a2.863 2.863 0 0 0 .64-1.95c0-.853-.213-1.524-.64-2.011-.427-.488-1.128-.731-2.072-.731h-4.388v-3.901h4.083a9.294 9.294 0 0 1 5.881 1.615 5.486 5.486 0 0 1 2.072 4.601v.457a4.934 4.934 0 0 1-1.066 3.322 5.76 5.76 0 0 1-2.834 1.798c-1.32.364-2.684.538-4.053.518h-4.083ZM185.934 67.766l7.344-22.245h8.075l7.618 22.245h-5.18l-6.156-18.802 1.585.64h-3.931l1.645-.64-6.003 18.802h-4.997Zm5.576-5.516 1.524-4.144h8.715l1.554 4.144H191.51ZM211.104 67.766V45.52h4.997v22.245h-4.997Zm4.388 0v-4.388h9.324v4.388h-9.324ZM102.133 95.71V73.463h8.197l8.38 18.192h1.036l-.609.549v-18.74h4.693v22.244h-8.259l-8.38-18.192h-1.036l.61-.548v18.74h-4.632ZM128.066 95.71V73.463h4.876V95.71h-4.876Zm4.267 0v-4.145h9.72v4.144h-9.72Zm0-9.234v-4.144h9.02v4.144h-9.02Zm0-8.868v-4.144h9.507v4.144h-9.507ZM149.823 95.71V77.211h4.998V95.71h-4.998Zm-6.247-17.888v-4.358h17.522v4.358h-17.522ZM167.468 95.71l-5.486-22.246h5.15l4.297 18.893-1.067-.7h2.774l-1.189.7 3.322-18.07h4.144l-4.358 21.422h-7.587Zm13.255 0-4.693-21.423h4.358l3.84 18.07-1.158-.7h2.651l-1.006.7 3.748-18.893h4.876l-4.876 22.245h-7.74ZM205.985 96.29a11.09 11.09 0 0 1-11.153-7.557 11.72 11.72 0 0 1-.701-3.87v-.67a11.882 11.882 0 0 1 2.986-7.772 10.793 10.793 0 0 1 3.718-2.62 12.402 12.402 0 0 1 5.15-1.006c1.95 0 3.657.335 5.15 1.006a10.788 10.788 0 0 1 5.972 6.308c.501 1.303.759 2.687.762 4.083v.67a12.34 12.34 0 0 1-2.925 7.619 11.033 11.033 0 0 1-3.718 2.773 12.31 12.31 0 0 1-5.241 1.036Zm0-4.663a7.012 7.012 0 0 0 2.834-.548 6.4 6.4 0 0 0 3.535-3.779 8.112 8.112 0 0 0 .457-2.742 7.94 7.94 0 0 0-.488-2.834 6.1 6.1 0 0 0-1.371-2.255 5.89 5.89 0 0 0-2.133-1.493 7.314 7.314 0 0 0-2.834-.518 7.31 7.31 0 0 0-2.834.518 6.154 6.154 0 0 0-3.505 3.748 8.388 8.388 0 0 0 0 5.576c.293.834.749 1.6 1.341 2.255a6.522 6.522 0 0 0 4.998 2.072ZM220.887 95.71V73.28h4.997V95.71h-4.997Zm13.499 0-6.521-9.57h5.485l6.826 9.57h-5.79Zm-9.843-7.131v-3.931h5.486c.731 0 1.371-.153 1.889-.427a3.082 3.082 0 0 0 1.249-1.25c.305-.548.457-1.188.457-1.889a3.648 3.648 0 0 0-.457-1.859 2.86 2.86 0 0 0-1.249-1.249 3.716 3.716 0 0 0-1.889-.457h-5.486v-4.236h5.089c1.829 0 3.444.305 4.815.853a6.612 6.612 0 0 1 3.139 2.469 7.32 7.32 0 0 1 1.097 4.144v.488a7.095 7.095 0 0 1-1.128 4.114 6.701 6.701 0 0 1-3.138 2.437c-1.531.561-3.154.83-4.785.793h-5.089ZM256.996 95.71l-7.679-10.392h-3.078l9.325-11.854h5.729l-8.38 10.635-.061-2.163 10.178 13.773h-6.034Zm-14.627 0V73.463h4.998V95.71h-4.998Z"
        ></path>
      </svg>
    </div>
    <div class="blinder-container">
      <div class="blinder top"></div>
      <div class="blinder bottom"></div>
    </div>
    <div class="progress-bar">
      <div class="progress"></div>
    </div>
  </div>

  <Header />
  <main>
    <section class="hero-section">
      <div class="container wrapper">
        <div class="hero-bg-wrap">
          <div class="swiper hero-swiper">
            <div class="swiper-wrapper slider-img-wrap">
              <ResponsiveImg
                desktopImgUrl={heroBackground}
                mobileImgUrl={heroBackgroundMb}
                alt=""
                loading="eager"
                class="swiper-slide bg-img"
              />
              <ResponsiveImg
                desktopImgUrl={heroBackground2}
                mobileImgUrl={heroBackground2Mb}
                alt=""
                loading="lazy"
                class="swiper-slide bg-img"
              />
              <ResponsiveImg
                desktopImgUrl={heroBackground3}
                mobileImgUrl={heroBackground3Mb}
                alt=""
                loading="lazy"
                class="swiper-slide bg-img"
              />
            </div>

            <div class="hero-text-box">
              <h1 class="font-header-1 no-scrub">
                Revolutionizing Media Production with AGN Studios
              </h1>
              <p class="reveal-text no-scrub">
                We are a premier media production company based in the heart of
                <span class="fw-bold">Washington D.C.</span>, dedicated to
                providing top-notch broadcast solutions.
              </p>
              <Button
                href="/contact"
                text="Get in Touch"
                class="btn-primary"
                icon="message"
              />
            </div>
            <div class="navigation-wrap">
              <div class="swiper-button-prev nav-arrow">
                <Icon name="arrow" width={18} />
              </div>
              <div class="swiper-button-next nav-arrow">
                <Icon name="arrow" width={18} />
              </div>
            </div>

            <div class="social-links">
              <a href="/" class="social">
                <Icon
                  name="facebook"
                  aria-label="facebook page"
                  width={28}
                  height={28}
                />
              </a>
              <a href="/" class="social">
                <Icon
                  name="twitter"
                  aria-label="twitter page"
                  width={28}
                  height={28}
                />
              </a>
              <a href="/" class="social">
                <Icon
                  name="youtube"
                  aria-label="youtube page"
                  width={28}
                  height={28}
                />
              </a>
              <a href="/" class="social">
                <Icon
                  name="instagram"
                  aria-label="instagram page"
                  width={28}
                  height={28}
                />
              </a>
            </div>
          </div>
        </div>

        <div class="hero-studios">
          <div class="studios-container">
            <div class="studio-wrap">
              <a href="/" class="studio"
                ><span class="label-highlight">Studio 1</span></a
              >
            </div>
            <div class="studio-wrap">
              <a href="/" class="studio"
                ><span class="label-highlight">Studio 2</span></a
              >
            </div>
            <div class="studio-wrap">
              <a href="/" class="studio"
                ><span class="label-highlight">Virtual Studio</span></a
              >
            </div>
            <div class="studio-wrap">
              <a href="/" class="studio"
                ><span class="label-highlight">Green Screen</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="about-section">
      <div class="container wrapper">
        <img src={glow.src} alt="" class="glow-effect" />
        <div class="about-text text-center">
          <span class="label-highlight">About AGN</span>
          <h2 class="font-header-2">
            A High-End Studio That Accommodates All of your Production Needs
          </h2>
          <p class="reveal-text">
            We are a studio built to handle productions of all sizes, offering a
            full range of services and top-tier equipment for every stage of
            your project. Whether you're shooting a live broadcast or a
            cinematic masterpiece, AGN has the expertise and facilities to make
            it happen seamlessly.
          </p>
          <Button
            text="Learn About AGN"
            class="btn-secondary fw-semi-bold btn-dark"
            href="/about"
            icon="btn-arrow-dark"
          />
          <Icon name="arrow-down" size={150} />
        </div>
        <div class="about-images">
          <div class="image-wrap left">
            <Image class="photo1" src={photo1} alt="About AGN" />
            <Image class="photo2" src={photo2} alt="About AGN" />
          </div>
          <div class="image-wrap right">
            <Image class="photo3" src={photo3} alt="About AGN" />
            <Image class="photo4" src={photo4} alt="About AGN" />
          </div>
        </div>
      </div>
    </section>

    <section class="services-section">
      <div class="container wrapper">
        <div class="row-1">
          <div class="services-header">
            <span class="label-highlight">Our Services</span>
            <h2 class="font-header-1">
              Experience world-class services from our team of exceptional
              talents
            </h2>
          </div>
          <Image src={cameraEquipment} alt="" />
        </div>
        <div class="row-2">
          <Button
            text="Explore Services"
            class="btn-secondary btn-light btn-xl"
            href="/services"
            icon="btn-arrow-light"
          />
          <p class="services-description reveal-text no-scrub">
            We pride ourselves on our exceptional team of talented professionals
            and our wide range of media production services. We offer a variety
            of services, including live production, media services, studio
            rentals, post-production, live streaming, and more!
          </p>
        </div>
      </div>
    </section>

    <section class="why-section">
      <div class="container wrapper">
        <img src={glow.src} alt="" class="glow-effect" />

        <div class="why-header">
          <div class="header-text">
            <span class="label-highlight">Why Choose AGN?</span>
            <h2 class="font-header-2">
              We're Your Trusted Source for Exceptional Media Production, with
              Qualities That Set Us Apart
            </h2>
          </div>
          <Image src={audioElement} alt="" />
        </div>

        <div class="reasons-box">
          <div class="reason">
            <Image src={locationIcon} alt="" />
            <h3 class="font-header-3">Convenient Location</h3>
            <p class="reason-description reveal-text no-scrub">
              Located in the heart of <span class="fw-bold"
                >Washington D.C.</span
              >, Ahadu Global Network is easily accessible. Our convenient
              location means you can focus on your project, not your commute.
            </p>
          </div>

          <div class="reason">
            <Image src={budgetIcon} alt="" />
            <h3 class="font-header-3">Budget-Friendly Solutions</h3>
            <p class="reason-description reveal-text no-scrub">
              Don't let budget constraints hold back your creative vision. Our
              affordable pricing plans make high-quality media production
              accessible to everyone.
            </p>
          </div>

          <div class="reason">
            <Image src={techIcon} alt="" />
            <h3 class="font-header-3">Advanced Technologies</h3>
            <p class="reason-description reveal-text no-scrub">
              Stay ahead of the curve with our cutting-edge equipment and
              software. We invest in the latest technology to ensure that your
              productions are always top-notch.
            </p>
          </div>

          <div class="reason">
            <Image src={reliabilityIcon} alt="" />
            <h3 class="font-header-3">Proven Reliability</h3>
            <p class="reason-description reveal-text no-scrub">
              When you choose Ahadu Global Network, you're choosing a partner
              you can trust. Our track record of delivering projects on time and
              within budget speaks for itself.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="gallery-section">
      <div class="container wrapper">
        <img src={glow.src} alt="" class="glow-effect" />
        <div class="gallery-header">
          <span class="label-highlight">Our Gallery</span>
          <h2 class="font-header-2 text-center">
            Explore Our Studio and Equipment Gallery
          </h2>
        </div>

        <div class="gallery-wrap">
          <div class="swiper gallery-carousel">
            <div class="swiper-wrapper">
              <div class="swiper-slide img-wrapper">
                <Image src={photo1} alt="" />
              </div>
              <div class="swiper-slide img-wrapper">
                <Image src={photo2} alt="" />
              </div>
              <div class="swiper-slide img-wrapper">
                <Image src={photo3} alt="" />
              </div>
              <div class="swiper-slide img-wrapper">
                <Image src={photo4} alt="" />
              </div>
            </div>
          </div>

          <div class="gallery-text">
            <p class="fw-semi-bold reveal-text">
              From cameras to lighting and everything in between, discover the
              top-tier equipment we provide to ensure your production runs
              seamlessly and delivers professional results.
            </p>
            <Button
              text="View Gallery"
              class="btn-primary"
              href="/gallery"
              icon="btn-arrow-dark"
            />
          </div>
        </div>
      </div>
    </section>

    <section class="cta-section">
      <div class="container wrapper">
        <div class="cta-content">
          <span class="label-highlight">Let's Work Together</span>
          <h2 class="font-header-2">
            Looking for a Fully Equipped, Ready-to-Go Studio? Your Production
            Starts Here.
          </h2>
          <p class="reveal-text">
            From concept to completion, our all-in-one media production services
            offer the expertise, equipment, and creativity you need to bring
            your vision to life, whether you're streaming a live event,
            producing a commercial, or renting a studio space for any use cases,
            we got you covered!
          </p>
          <Button
            text="Contact Us"
            class="btn-primary"
            href="/contact"
            icon="btn-arrow-dark"
          />
        </div>
      </div>
    </section>

    <section class="newsletter-section">
      <div class="wrapper container">
        <img src={glow.src} alt="" class="glow-effect" />
        <div class="newsletter-content text-center">
          <span class="label-highlight">Email Newsletter</span>
          <h2 class="font-header-2">
            Stay in the loop! Be the first to know about our latest projects,
            insider tips, and exclusive updates.
          </h2>

          <form action="#" method="post" class="newsletter-form">
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Enter your email address"
              required
            />
            <button class="submit-btn fw-semi-bold">Subscribe</button>
          </form>
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout>

<script src="../scripts/pages/index.js"></script>
