---
// Components
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";

// styles
import "../styles/pages/_index.scss";

// assets
import glow from "../assets/glowing-eclipse.svg";
import photo1 from "../assets/photo1.png";
import photo2 from "../assets/photo2.png";
import photo3 from "../assets/photo3.png";
import photo4 from "../assets/photo4.png";
import cameraEquipment from "../assets/camera-equipment.png";
import heroBackground from "../assets/home-hero-bg.png";
import heroBackground2 from "../assets/home-hero-bg-2.png";

// icons
import audioElement from "../icons/audio-element.svg";
import budgetIcon from "../icons/budget-icon.svg";
import locationIcon from "../icons/location-icon.svg";
import techIcon from "../icons/tech-icon.svg";
import reliabilityIcon from "../icons/reliability-icon.svg";
---

<Layout
  title="Home - Ahadu Global Network"
  description="A premier media production and studio rental company based in Washington D.C."
>
  <div class="loader">
    <div class="logo-animation">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="153"
        height="41"
        fill="none"
      >
        <path
          fill="#FF6E1F"
          d="M75.83 40.88c-4.82 0-9.05-.88-12.59-2.62-3.5-1.72-6.25-4.11-8.17-7.08-1.9-2.95-2.87-6.33-2.87-10.05 0-2.9.54-5.59 1.62-8 1.08-2.43 2.68-4.56 4.74-6.34 2.09-1.79 4.67-3.2 7.66-4.18 3.01-.98 6.46-1.48 10.26-1.48 4.02 0 7.52.52 10.41 1.55 2.88 1.02 5.23 2.46 6.99 4.27 1.72 1.77 2.9 3.84 3.5 6.15h-8.63v-.04a9.113 9.113 0 0 0-2.3-3.53c-1.04-1-2.39-1.8-4.04-2.37-1.63-.57-3.63-.86-5.94-.86-2.63 0-4.95.37-6.9 1.09-1.96.73-3.61 1.77-4.89 3.09-1.31 1.34-2.3 2.94-2.94 4.74-.65 1.81-.97 3.79-.97 5.9 0 2.87.68 5.45 2.03 7.65 1.33 2.18 3.19 3.89 5.54 5.09 2.31 1.18 5.01 1.78 8.04 1.78 3.03 0 5.48-.46 7.46-1.37 2.01-.92 3.54-2.17 4.56-3.7 1-1.51 1.53-3.18 1.56-4.96v-.82h-13.3v-4.98h21.51v20.3H92.5l-1.53-5.2-.96.95c-.87.85-1.84 1.6-2.89 2.23-1.55.93-3.3 1.63-5.19 2.09-1.89.46-3.95.69-6.11.69l.01.01ZM142.36 40.13l-20.94-22.1c-.74-.79-1.51-1.67-2.29-2.62-.77-.94-1.51-1.86-2.2-2.73l-1.61-2.01.14 2.51c.05.88.1 1.81.16 2.79.06 1.03.09 1.98.09 2.81v21.34h-9.3V1.83h10.09l21.01 22.18c.73.77 1.49 1.63 2.26 2.58.76.95 1.49 1.86 2.15 2.72l1.63 2.11-.15-2.62c-.06-.88-.12-1.81-.19-2.79-.07-1.02-.11-1.97-.11-2.84V1.83h9.34v38.29h-10.05l-.03.01ZM44.98 2.22c-.71-.67-1.55-1-2.51-1-.96 0-1.85.34-2.57 1.03L.47 40.45c-.11.11-.21.22-.31.34h10.03l28.7-27.77v27.77h7.15V4.67c0-.96-.36-1.78-1.07-2.45h.01Z"
        ></path>
        <path
          fill="#FF6E1F"
          d="M42.75 24.78H19.28v5.86h23.47v-5.86ZM7.42 14.88a7 7 0 1 0 0-14 7 7 0 0 0 0 14Z"
        ></path>
      </svg>
    </div>
    <div class="blinder-container">
      <div class="blinder top"></div>
      <div class="blinder bottom"></div>
    </div>
    <div class="progress-bar">
      <div class="progress"></div>
    </div>
  </div>

  <Header />
  <main>
    <section class="hero-section">
      <div class="container wrapper">
        <div class="hero-bg-wrap">
          <div class="swiper hero-swiper">
            <div class="swiper-wrapper slider-img-wrap">
              <img
                src={heroBackground.src}
                alt=""
                class="swiper-slide bg-img"
              />
              <img
                src={heroBackground2.src}
                alt=""
                class="swiper-slide bg-img"
              />
              <img src={photo2.src} alt="" class="swiper-slide bg-img" />
            </div>

            <div class="hero-text-box">
              <h1 class="font-header-1 no-scrub">
                Revolutionizing Media Production with AGN Studios
              </h1>
              <p class="reveal-text no-scrub">
                We are a premier studio rental company based in the heart of
                Washington D.C., dedicated to providing top-notch broadcast
                solutions.
              </p>
              <Button
                href="/contact"
                text="Get in Touch"
                class="btn-primary"
                icon="message"
              />
            </div>
            <div class="navigation-wrap">
              <div class="swiper-button-prev nav-arrow">
                <Icon name="arrow" width={18} />
              </div>
              <div class="swiper-button-next nav-arrow">
                <Icon name="arrow" width={18} />
              </div>
            </div>

            <div class="social-links">
              <Icon name="facebook" width={28} height={28} />
              <Icon name="twitter" width={28} height={28} />
              <Icon name="youtube" width={28} height={28} />
              <Icon name="instagram" width={28} height={28} />
            </div>
          </div>
        </div>

        <div class="hero-studios">
          <div class="studios-container">
            <a href="/" class="studio"
              ><span class="label-highlight">Studio 1</span></a
            >
            <a href="/" class="studio"
              ><span class="label-highlight">Studio 2</span></a
            >
            <a href="/" class="studio"
              ><span class="label-highlight">Virtual Studio</span></a
            >
            <a href="/" class="studio"
              ><span class="label-highlight">Green Screen</span></a
            >
          </div>
        </div>
      </div>
    </section>

    <section class="about-section">
      <div class="container wrapper">
        <img src={glow.src} alt="" class="glow-effect" />
        <div class="about-text text-center">
          <span class="label-highlight">About AGN</span>
          <h2 class="font-header-2">
            A High-End Studio That Accommodates All of your Production Needs
          </h2>
          <p class="reveal-text">
            Welcome to AGN Studios, DC's top production hub. We specialize in
            live production, providing elite media services to help clients
            connect with their audience. Access our cutting-edge equipment and
            studio facilities with affordable rental options.
          </p>
          <Button
            text="Learn About AGN"
            class="btn-secondary fw-semi-bold btn-dark"
            href="/about"
            icon="btn-arrow-dark"
          />
          <Icon name="arrow-down" size={150} />
        </div>
        <div class="about-images">
          <div class="image-wrap left">
            <img class="photo1" src={photo1.src} alt="About AGN" />
            <img class="photo2" src={photo2.src} alt="About AGN" />
          </div>
          <div class="image-wrap right">
            <img class="photo3" src={photo3.src} alt="About AGN" />
            <img class="photo4" src={photo4.src} alt="About AGN" />
          </div>
        </div>
      </div>
    </section>

    <section class="services-section">
      <div class="container wrapper">
        <div class="row-1">
          <div class="services-header">
            <span class="label-highlight">Our Services</span>
            <h2 class="font-header-1">
              Experience world-class services from our team of exceptional
              talents
            </h2>
          </div>
          <img src={cameraEquipment.src} alt="" />
        </div>
        <div class="row-2">
          <Button
            text="Explore Services"
            class="btn-secondary btn-light btn-xl"
            href="/services"
            icon="btn-arrow-light"
          />
          <p class="services-description reveal-text">
            We pride ourselves on our exceptional team of talented professionals
            and our wide range of media production services. We offer a variety
            of services, including live production, media services, studio
            rentals, post-production, live streaming, and more!
          </p>
        </div>
      </div>
    </section>

    <section class="why-section">
      <div class="container wrapper">
        <img src={glow.src} alt="" class="glow-effect" />

        <div class="why-header">
          <div class="header-text">
            <span class="label-highlight">Why Choose AGN?</span>
            <h2 class="font-header-2">
              We're Your Trusted Source for Exceptional Media Production, with
              Qualities That Set Us Apart
            </h2>
          </div>
          <img src={audioElement.src} alt="" />
        </div>

        <div class="reasons-box">
          <div class="reason">
            <img src={locationIcon.src} alt="" />
            <h3 class="font-header-3">Convenient Location</h3>
            <p class="reason-description reveal-text no-scrub">
              Located in the heart of Washington DC, Ahadu Global Network is
              easily accessible. Our convenient location means you can focus on
              your project, not your commute.
            </p>
          </div>

          <div class="reason">
            <img src={budgetIcon.src} alt="" />
            <h3 class="font-header-3">Budget-Friendly Solutions</h3>
            <p class="reason-description reveal-text no-scrub">
              Don't let budget constraints hold back your creative vision. Our
              affordable pricing plans make high-quality media production
              accessible to everyone.
            </p>
          </div>

          <div class="reason">
            <img src={techIcon.src} alt="" />
            <h3 class="font-header-3">Advanced Technologies</h3>
            <p class="reason-description reveal-text no-scrub">
              Stay ahead of the curve with our cutting-edge equipment and
              software. We invest in the latest technology to ensure that your
              productions are always top-notch.
            </p>
          </div>

          <div class="reason">
            <img src={reliabilityIcon.src} alt="" />
            <h3 class="font-header-3">Proven Reliability</h3>
            <p class="reason-description reveal-text no-scrub">
              When you choose Ahadu Global Network, you're choosing a partner
              you can trust. Our track record of delivering projects on time and
              within budget speaks for itself.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="gallery-section">
      <div class="container wrapper">
        <img src={glow.src} alt="" class="glow-effect" />
        <div class="gallery-header">
          <span class="label-highlight">Our Gallery</span>
          <h2 class="font-header-2 text-center">
            Explore Our Studio and Equipment Gallery
          </h2>
        </div>

        <div class="gallery-wrap">
          <div class="swiper gallery-carousel">
            <div class="swiper-wrapper">
              <div class="swiper-slide img-wrapper">
                <img src={photo1.src} alt="" />
              </div>
              <div class="swiper-slide img-wrapper">
                <img src={photo2.src} alt="" />
              </div>
              <div class="swiper-slide img-wrapper">
                <img src={photo3.src} alt="" />
              </div>
              <div class="swiper-slide img-wrapper">
                <img src={photo4.src} alt="" />
              </div>
            </div>
          </div>

          <div class="gallery-text">
            <p class="fw-semi-bold reveal-text">
              From cameras to lighting and everything in between, discover the
              top-tier equipment we provide to ensure your production runs
              seamlessly and delivers professional results.
            </p>
            <Button
              text="View Gallery"
              class="btn-primary"
              href="/gallery"
              icon="btn-arrow-dark"
            />
          </div>
        </div>
      </div>
    </section>

    <section class="cta-section">
      <div class="container wrapper">
        <div class="cta-content">
          <span class="label-highlight">Let's Work Together</span>
          <h2 class="font-header-2">
            An All-in-one Media production company that brings your vision to
            life
          </h2>
          <p class="reveal-text">
            From concept to completion, our all-in-one media production services
            offer the expertise, equipment, and creativity you need to bring
            your vision to life, whether you're streaming a live event,
            producing a commercial, or renting a studio space.
          </p>
          <Button
            text="Contact Us"
            class="btn-primary"
            href="/contact"
            icon="btn-arrow-dark"
          />
        </div>
      </div>
    </section>

    <section class="newsletter-section">
      <div class="wrapper container">
        <img src={glow.src} alt="" class="glow-effect" />
        <div class="newsletter-content text-center">
          <span class="label-highlight">Email Newsletter</span>
          <h2 class="font-header-2">
            Stay in the loop! Be the first to know about our latest projects,
            insider tips, and exclusive updates.
          </h2>

          <form action="#" method="post" class="newsletter-form">
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Enter your email address"
              required
            />
            <button class="submit-btn fw-semi-bold">Subscribe</button>
          </form>
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout>

<script src="../scripts/pages/index.js"></script>
