---
// Components
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
// import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

// styles
import "../styles/pages/_services.scss";

// images
import glow from "../assets/glowing-eclipse.svg";
import designElement from "../assets/design-element.svg";
import audioElement from "../icons/audio-element.svg";
import servicesHeroImg from "../assets/services-hero-img.png";
import worldWideContent from "../assets/world-wide-content.png";
import liveStreaming from "../assets/live-streaming.png";
import stage from "../assets/stage.png";
import controlRoom from "../assets/control-room.png";
import studio from "../assets/studio.png";
import workspace from "../assets/workspace.png";
import studio1 from "../assets/studio1-bento.png";
import studio2 from "../assets/studio2-bento.png";
import studio3 from "../assets/studio3-bento.png";
import studio4 from "../assets/studio4-bento.png";

// icons
// import plus from "../icons/plus.svg";
// import minus from "../icons/minus.svg";
---

<Layout
  title="Services - Ahadu Global Network"
  description="Explore our services at Ahadu Global Network"
>
  <Header />

  <main>
    <section class="services-hero-section">
      <div class="container wrapper">
        <div class="hero-header">
          <h1 class="font-header-1 no-scrub">
            State-of-the-art Media Production Solutions
          </h1>
          <Image src={designElement} alt="" />
        </div>
        <div class="hero-content">
          <div class="img-wrap"><Image src={servicesHeroImg} alt="" /></div>
          <div class="hero-text">
            <div class="services-description">
              <Image src={audioElement} alt="" />
            </div>
            <p class="reveal-text no-scrub">
              Our media production services offer a comprehensive solution for
              your content needs. From delivering high-quality content to a
              global audience to providing state-of-the-art facilities for live
              streaming, production, and post-production, we have everything you
              need to bring your vision to life.
            </p>
            <a href="/contact" aria-label="Let's Chat">Let's Chat</a>
          </div>
        </div>
      </div>
    </section>

    <section class="benefits-section">
      <div class="container wrapper">
        <div class="benefits col-1">
          <div class="accordion">
            <div
              class="accordion-item active"
              data-image-src={worldWideContent.src}
            >
              <div class="accordion-header">
                <h3 class="font-header-3 no-scrub">
                  World-Wide Content Delivery
                </h3>
                <!-- <div class="icon">
                  <Image src={plus} alt="">
                </div> -->
              </div>
              <div class="accordion-content">
                <p>
                  Our advanced technology ensures your content is seamlessly
                  delivered to a global audience, maximizing your reach and
                  impact.
                </p>
                <div class="img-wrap">
                  <Image src={worldWideContent} alt="" />
                </div>
              </div>
            </div>
            <div class="accordion-item" data-image-src={liveStreaming.src}>
              <div class="accordion-header">
                <h3 class="font-header-3 no-scrub">Seamless Live Streaming</h3>
                <!-- <div class="icon">
                  <Image src={plus} alt="">
                </div> -->
              </div>
              <div class="accordion-content">
                <p>
                  Deliver flawless live streaming across multiple platforms,
                  engaging your audience with high-quality, real-time broadcasts
                  every time.
                </p>
                <div class="img-wrap">
                  <Image src={liveStreaming} alt="" />
                </div>
              </div>
            </div>
            <div class="accordion-item" data-image-src={stage.src}>
              <div class="accordion-header">
                <h3 class="font-header-3 no-scrub">Audience-Rated Stages</h3>
                <!-- <div class="icon">
                  <Image src={plus} alt="">
                </div> -->
              </div>
              <div class="accordion-content">
                <p>
                  Our versatile, fully equipped stages are designed for
                  productions of all sizes, offering the flexibility and
                  convenience to bring any vision to life.
                </p>
                <div class="img-wrap"><Image src={stage} alt="" /></div>
              </div>
            </div>
            <div class="accordion-item" data-image-src={controlRoom.src}>
              <div class="accordion-header">
                <h3 class="font-header-3 no-scrub">High-tech Control Rooms</h3>
                <!-- <div class="icon">
                  <Image src={plus} alt="">
                </div> -->
              </div>
              <div class="accordion-content">
                <p>
                  Our 4K control rooms deliver top-tier production quality while
                  streamlining processes, saving you time and ensuring flawless
                  execution.
                </p>
                <div class="img-wrap"><Image src={controlRoom} alt="" /></div>
              </div>
            </div>
            <div class="accordion-item" data-image-src={studio.src}>
              <div class="accordion-header">
                <h3 class="font-header-3 no-scrub">
                  Full Equipment Studio Rental
                </h3>
                <!-- <div class="icon">
                  <Image src={plus} alt="">
                </div> -->
              </div>
              <div class="accordion-content">
                <p>
                  Get everything you need for a professional shoot with our
                  fully equipped studio rental, supported by expert staff to
                  ensure every detail is perfect.
                </p>
                <div class="img-wrap"><Image src={studio} alt="" /></div>
              </div>
            </div>
            <div class="accordion-item" data-image-src={workspace.src}>
              <div class="accordion-header">
                <h3 class="font-header-3 no-scrub">
                  Post-Production Workspace
                </h3>
                <!-- <div class="icon">
                  <Image src={plus} alt="">
                </div> -->
              </div>
              <div class="accordion-content">
                <p>
                  Work efficiently in our high-performance post-production
                  spaces, equipped with cutting-edge technology to bring your
                  projects to life with precision and creativity.
                </p>
                <div class="img-wrap"><Image src={workspace} alt="" /></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <h2 class="font-header-2 fw-bold">
            Get industry-leading media production, with every project delivered
            to the highest standards.
          </h2>
          <div class="img-wrap"><Image src={worldWideContent} alt="" /></div>
        </div>
      </div>
    </section>

    <section class="studio-rental-section">
      <div class="container wrapper">
        <div class="rental-content">
          <div class="rental-header">
            <span class="label-highlight">Studio Rental</span>
            <h2 class="font-header-2">
              Rent the Perfect Studio for Your Next Project
            </h2>
          </div>
          <p class="rental-description reveal-text">
            Rent a fully equipped, state-of-the-art studio at Ahadu Global
            Network, where you'll find everything you need to bring your
            production to life. With professional-grade equipment, flexible
            stage setups, and expert support, our studios are designed to handle
            any project, from commercials to films, with ease and precision.
          </p>
        </div>

        <div class="rental-bento">
          <div class="rental-cta">
            <p class="cta-text reveal-text">
              We specialize in providing <span class="fw-bold"
                >fully equipped studios</span
              > that empower you to bring your creative vision to life with our turnkey
              studio options.
            </p>
            <div class="cta-box">
              <p class="fw-bold reveal-text">Got a project in mind?</p>
              <Button
                text="info@ahaduglobal.com"
                href="/contact"
                class="btn-primary btn-dark"
                icon="btn-arrow-dark"
              />
            </div>
          </div>
          <a class="studio-link" href="/studios#studio-1">
            <div class="rental-img-wrap studio">
              <Image src={studio1} alt="" />
              <p class="studio-name label-highlight">Studio 1</p>
            </div>
          </a>
          <a class="studio-link" href="/studios#studio-2">
            <div class="rental-img-wrap studio">
              <Image src={studio2} alt="" />
              <p class="studio-name label-highlight">Studio 2</p>
            </div>
          </a>
          <a class="studio-link" href="/studios#virtual-studio">
            <div class="rental-img-wrap studio">
              <Image src={studio3} alt="" />
              <p class="studio-name label-highlight">Virtual Studio</p>
            </div>
          </a>
          <a class="studio-link" href="/studios#green-screen">
            <div class="rental-img-wrap studio">
              <Image src={studio4} alt="" />
              <p class="studio-name label-highlight">Green Screen</p>
            </div>
          </a>
        </div>
      </div>
    </section>

    <section class="newsletter-section">
      <div class="wrapper container">
        <Image src={glow} alt="" class="glow-effect" />
        <div class="newsletter-content text-center">
          <span class="label-highlight">Email Newsletter</span>
          <h2 class="font-header-2">
            Stay in the loop! Be the first to know about our latest projects,
            insider tips, and exclusive updates.
          </h2>
          <form action="#" method="post" class="newsletter-form">
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Enter your email address"
              required
            />
            <button class="submit-btn fw-semi-bold">Subscribe</button>
          </form>
        </div>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<script src="../scripts/pages/services.js"></script>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  // Ensure GSAP and ScrollTrigger are loaded
  gsap.registerPlugin(ScrollTrigger);
  // clip-path animation on scroll for the image with class .abt-img-wrap
  gsap.to(".hero-content .img-wrap img", {
    clipPath: "inset(0% 0% 0% 0% round 20px)",
    duration: 1,
    ease: "power2.inOut",
    scrollTrigger: {
      trigger: ".hero-content",
      start: "top 80%",
      end: "bottom 20%",
      scrub: false,
    },
  });
</script>
