---
// Components
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import { Icon } from "astro-icon/components";
// styles
import "../styles/pages/_studios.scss";

// assets
import glow from "../assets/glowing-eclipse.svg";
import studio1 from "../assets/studio-a.png";
import studio2 from "../assets/studio-b.png";
import studio3 from "../assets/studio-c.png";
import studio4 from "../assets/studio-d.png";
---

<Layout
  title="Studios - Ahadu Global Network"
  description="Explore our studios"
>
  <Header />

  <main>
    <section class="studios-hero-section">
      <div class="container wrapper">
        <img src={glow.src} alt="" class="glow" />
        <div class="studios-content">
          <h1 class="font-header-1 no-scrub">
            Choose From Our Range of Studios
          </h1>
        </div>
      </div>
    </section>
    <section class="studio-section">
      <div class="container wrapper">
        <div class="abt-studio studio-1" id="studio-1">
          <div class="studio-text">
            <h2 class="font-header-2 no-scrub">Studio 1</h2>
            <p class="reveal-text no-scrub">
              Our news studio is fully equipped with the latest technology,
              providing the perfect setting for live broadcasts and breaking
              news segments. Designed for seamless production, it ensures
              high-quality content delivery every time.
            </p>
          </div>
          <div class="studio-img">
            <img src={studio1.src} alt="Studio 1" />
          </div>
        </div>
      </div>
    </section>
    <section class="studio-section">
      <div class="container wrapper">
        <div class="abt-studio studio-2" id="studio-2">
          <div class="studio-text">
            <h2 class="font-header-2 no-scrub">Studio 2</h2>
            <p class="reveal-text no-scrub">
              Ideal for interviews and talk shows, this studio offers a
              comfortable, professional environment with full connectivity and
              audience-ready setups. It's designed to enhance your guest
              interactions and create engaging conversations.
            </p>
          </div>
          <div class="studio-img">
            <img src={studio2.src} alt="Studio 2" />
          </div>
        </div>
      </div>
    </section>
    <section class="studio-section">
      <div class="container wrapper">
        <div class="abt-studio studio-3" id="virtual-studio">
          <div class="studio-text">
            <h2 class="font-header-2 no-scrub">Virtual Studio</h2>
            <p class="reveal-text no-scrub">
              Our virtual studio lets you create immersive, digital environments
              without the need for physical sets. From futuristic landscapes to
              real-world simulations, the possibilities are endless with our
              advanced virtual production technology.
            </p>
          </div>
          <div class="studio-img">
            <img src={studio3.src} alt="Virtual Studio" />
          </div>
        </div>
      </div>
    </section>
    <section class="studio-section">
      <div class="container wrapper">
        <div class="abt-studio studio-4" id="green-screen">
          <div class="studio-text">
            <h2 class="font-header-2 no-scrub">Green Screen</h2>
            <p class="reveal-text no-scrub">
              Bring your most imaginative concepts to life with our green screen
              studio, allowing you to create limitless backdrops and special
              effects. It's the ultimate space for projects requiring dynamic,
              visually captivating environments.
            </p>
          </div>
          <div class="studio-img">
            <img src={studio4.src} alt="Studio 4" />
          </div>
        </div>
      </div>
    </section>
    <div class="end-animation"></div>
    <section class="cta-section">
      <div class="container wrapper">
        <div class="cta-content text-center">
          <h2 class="font-header-2 no-scrub">
            Would You Like to Enquire More About Our Studios? Get in Touch Now
          </h2>

          <Button
            text="info@ahaduglobal.com"
            href="/contact"
            class="btn-primary btn-dark"
            icon="btn-arrow-dark"
          />
        </div>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  // Ensure GSAP and ScrollTrigger are loaded
  gsap.registerPlugin(ScrollTrigger);
  //animation
  const cardsWrapper = gsap.utils.toArray(".studio-section");
  const cardsEl = gsap.utils.toArray<HTMLElement>(".studio-section .wrapper");

  cardsWrapper.forEach((e, i) => {
    const card = cardsEl[i];
    let scale = 1,
      rotate = 0;

    if (i !== cardsEl.length - 1) {
      scale = 0.9 + 0.025 * i;
      rotate = -10;
    }

    gsap.to(card, {
      scale: scale,
      rotationX: rotate,
      transformOrigin: "top center",
      ease: "none",
      scrollTrigger: {
        trigger: e as HTMLElement,
        start: "top " + (70 + 40 * i),
        end: "bottom +=650px",
        endTrigger: ".end-animation",
        pin: e as HTMLElement,
        pinSpacing: false,
        scrub: true,
      },
    });
  });
</script>
